*{
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
}

p{
    color: white;
    font: 400 16px/16px 'ProximaNova-Regular', sans-serif;
}

.menu{
    padding: 20px 112px;

    display: flex;
    align-items: flex-start;    
    gap: 40px;
}


.logo-tcf{
    height: 88px;
}

