.header{
    height: 100vh;
    padding: 20px 0px;

    display: flex;
    align-items: flex-start;   
    
    margin: 0px auto; 
    gap: 40px;
}

.header-container{
    display: flex;
    margin: 0px auto;

    padding: 0px 3em;
}


.logo-tcf{
    height: 88px;
}

