*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content-container{
    background-color: black;

}

p{
    color: white;
    font: 400 16px/16px 'ProximaNova-Regular', sans-serif;

}

.dot{
    width: 11px;
    height: 11px;

    border-radius: 50%;
    border: 2px solid white;
    
    background-color: transparent;
    opacity: 0.5;

    cursor: pointer;

}




