*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: #fff8ed;
    text-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
    font: 700 46px/50px 'ProximaNova-Bold', sans-serif;
}

h2{
    color: #fff8ed;
    margin: 10px 0 0;
    text-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
    font: 600 19px/23px 'ProximaNova-Regular', sans-serif;
}

.content-container{
    background-color: black;
    position: relative;
}

p{
    color: white;
    font: 400 16px/16px 'ProximaNova-Regular', sans-serif;

}

.hero-container{
    display: flex;
    justify-content: center;
    text-align: center;
    position:relative;
    
}

.hero-content{
    position:absolute;
    bottom: 40px;
}

.dot{
    width: 11px;
    height: 11px;

    border-radius: 50%;
    border: 2px solid white;
    
    background-color: transparent;
    opacity: 0.5;

    cursor: pointer;

}

.highlights{
    width: 880px;
}

.highlights-button{
    height: 40px;
    width: 300px;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    color:#880d53;
    opacity: 0.9;

    cursor: pointer;
    transition: 0.5s;
    
    margin-top: 32px;
    border-radius: 4px;

    border-color: white;
}

.highlights-button:hover{
    background-color: #880d53;
    color: white;
    
    border-color: #880d53;
    
    transition: 0.5s;
}

.highlights-dots{
    display: flex;
    gap: 8px;
    margin-top: 32px;
    justify-content: center;
}


